<!DOCTYPE html>
<html>



<body>

    <header>
        <div class="banner">
            <h1>Você conhece o meio ambiente?</h1>
            <p>Então desafiamos você a jogar o <strong>QUIZ VERDE!</strong></p>

            <a href="quiz" class="btn">Jogue agora</a>
        </div>
    </header>

    <section class="sobre">
        <div class="container">
            <div class="grid-6">
                <img src="assets/img/imagem1.png">
            </div>
            <div class="grid-6">
                <p>O reflorestamento é a ação de recuperar uma área desmatada por meio do plantio de novas árvores. Essa ação pode ocorrer de forma natural ou intencional, ou seja, com a interferência humana para atingir determinados objetivos como realizar
                    a manutenção de matas ciliares, restaurar ecossistemas, absorver os gases de efeito estufa (GEE) reduzindo o impacto do aquecimento global por meio do sequestro de carbono.</p>
            </div>
        </div>
    </section>

    <section class="ambiente">
        <div class="container">
            <div class="grid-6">
                <p>A importância do reflorestamento é uma das pautas mais frequentes em reuniões de alta cúpula como o G20 e a ONU, ressaltando a necessidade dos países se preocuparem cada vez mais com suas florestas e riquezas naturais. Entenda aqui quais
                    são os principais benefícios do reflorestamento.</p>

                <a href="quiz" class="btn">Jogar</a>
            </div>
            <div class="grid-6">
                <img src="assets/img/imagem2.png">
            </div>
        </div>
    </section>

    <section class="chamada">
        <div class="container">
            <div class="grid-6">
                <img src="assets/img/imagem3.png">
            </div>
            <div class="grid-6">
                <p>Em todo Brasil, em cinco anos, mais de um milhão de mudas foram plantadas nos programas de produção de água. E a natureza agradece.</p>
            </div>
        </div>
    </section>

    <section class="local">
        <div class="container">
            <div class="grid-6">
                <p>Entre os materiais recicláveis estão diversos tipos de vidro, papel, metal, plástico, tecido e componentes eletrónicos.</p>

                <a href="quiz" class="btn">Jogar</a>
            </div>
            <div class="grid-6">
                <img src="assets/img/imagem4.png">
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="grid-12">
                <p>Todos os direitos reservados &copy;</p>
            </div>
        </div>
    </footer>

</body>

</html>