<!DOCTYPE html>
<html>



<body>

    <header>
        <div class="banner">
            <h1>Você conhece o meio ambiente?</h1>
            <p>Então desafiamos você a jogar o <strong>QUIZ VERDE!</strong></p>

            <a href="quiz" class="btn">Jogue agora</a>
        </div>
    </header>

    <section class="sobre">
        <div class="container">
            <div class="grid-6">
                <img src="assets/img/imagem1.png">
            </div>
            <div class="grid-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget laoreet erat. Cras sit amet nisi mattis, aliquet odio lacinia, tincidunt tellus. Mauris vulputate quam ut commodo feugiat. Cras vestibulum, nibh ac venenatis ultricies,
                    dui quam lacinia est, ac convallis neque libero at augue. Nunc.</p>
            </div>
        </div>
    </section>

    <section class="ambiente">
        <div class="container">
            <div class="grid-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget laoreet erat. Cras sit amet nisi mattis, aliquet odio lacinia, tincidunt tellus. Mauris vulputate quam ut commodo feugiat. Cras vestibulum, nibh ac venenatis ultricies,
                    dui quam lacinia est, ac convallis neque libero at augue. Nunc.</p>

                <a href="quiz.html" class="btn">Jogar</a>
            </div>
            <div class="grid-6">
                <img src="assets/img/imagem2.png">
            </div>
        </div>
    </section>

    <section class="chamada">
        <div class="container">
            <div class="grid-6">
                <img src="assets/img/imagem3.png">
            </div>
            <div class="grid-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget laoreet erat. Cras sit amet nisi mattis, aliquet odio lacinia, tincidunt tellus. Mauris vulputate quam ut commodo feugiat. Cras vestibulum, nibh ac venenatis ultricies,
                    dui quam lacinia est, ac convallis neque libero at augue. Nunc.</p>
            </div>
        </div>
    </section>

    <section class="local">
        <div class="container">
            <div class="grid-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget laoreet erat. Cras sit amet nisi mattis, aliquet odio lacinia, tincidunt tellus. Mauris vulputate quam ut commodo feugiat. Cras vestibulum, nibh ac venenatis ultricies,
                    dui quam lacinia est, ac convallis neque libero at augue. Nunc.</p>

                <a href="quiz.html" class="btn">Jogar</a>
            </div>
            <div class="grid-6">
                <img src="assets/img/imagem4.png">
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="grid-12">
                <p>Todos os direitos reservados &copy;</p>
            </div>
        </div>
    </footer>

</body>

</html>